@charset "UTF-8";
* {
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
}
body{
    background:url('/imagens/fundo-madeira.jpg') no-repeat ;
     background-size: cover;
    background-attachment: fixed;
}
  
main{
    position: relative;
    height: 100vh;
}

#telefone{
    position: absolute;
    top:60%;
    left:50%;
  height:627px;
    width:311px;
    background:url('/imagens/frame-iphone1.png') no-repeat ;
    transform: translate(-50%, -50%);
}
   iframe#tela {
 position: relative;
 top:80px;
 left:23.1px;
 width:266px;
 height:470px;
}
section#redes-sociais{
  text-align: right;
}
  section#redes-sociais img{
width:50px;
margin:10px;
margin-top: 30px;
border-radius:50%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
box-sizing: border-box;
} 
 #redes-sociais img:hover{
border: 2px solid rgba(255, 255, 255, 0.63);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.564);
transition: transform .3s, border 1s;
transform: translate(-5px, -5px);
}  




