@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
}
body{
    background: url('/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position:relative;
    height: 100vh;
}

#telefone{
    position: absolute;
    top:56%;
    left:56%;
    transform: translate(-50%, -50%);
    height:627px;
    width:311px;
    background:url('/imagens/frame-iphone.png') no-repeat;
}
iframe#tela {
 position: relative;
 top: 60px;
 left: 17.8px;
 width: 199.9px;
 height: 354px;
}

section#redes-sociais img{
width: 50px;
margin: 10px;
border-radius: 50%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
box-sizing: border-box;
}
#redes-sociais img:hover{
border: 2px solid rgba(255, 255, 255, 0.63);
transform: translate(-5px, -5px);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.564);
transition: transform .3s, border 1s;

}

